# Node modules
node_modules/

# Environment variables
.env

# Build directories
dist/
build/
.turbo/

# Husky
.husky/

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# PNPM lock file should not be committed unless necessary
pnpm-lock.yaml
